@import 'font';
@import 'color';
@import 'variables';
@import 'helper';

html {
  @extend ._font-heading;
  font-size: 14px;
  line-height: 21px;
}

body,
html {
  height: 100% !important;
}

button {
  &:focus {
    outline: 0;
  }
}
