@import 'font';
@import 'color';
@import 'variables';
@import 'helper';

@import 'scrollbar';

html {
  @extend ._font-heading;
  font-size: 14px;
  line-height: 21px;
}

body,
html {
  height: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
  @extend ._font-heading;
  @extend ._font-bold;
}

button {
  &:focus {
    outline: 0;
  }
}

label {
  @extend ._font-bold;
  font-size: 16px;
}
