@import 'variables';
/* ==========================================================================
    Typography
   ========================================================================== */
._font-heading {
  font-family: 'Lato', 'Mitr', sans-serif;
}

._font-body {
  font-family: 'Thonburi', 'Tahoma', sans-serif;
}

._font-light {
  font-weight: 200 !important;
}

._font-regular {
  font-weight: normal !important;
}

._font-bold {
  font-weight: bold !important;
}

b,
strong {
  @extend ._font-bold;
}
/* ==========================================================================
    Element
   ========================================================================== */
._invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==========================================================================
    Transition
   ========================================================================== */
._transition-fast {
  transition: all 0.07s ease-out !important;
}
/* ==========================================================================
    Scrollbar
   ========================================================================== */
._hide-vertical-scrollbar {
  margin-right: -$scrollbar-size + px !important;
  padding-right: $scrollbar-size + px !important;
}

._hide-horizontal-scrollbar {
  margin-bottom: -$scrollbar-size + px !important;
  padding-bottom: $scrollbar-size + px !important;
}
