<div class="chat-room-entry unread row">
  <div class="columns flex-container align-middle">
    <div class="profile-img">
      <img src="assets/images/profile-img/1.jpg" width="50" height="50">
    </div>
    <div class="latest-message">
      <strong>Parinthorn Saithong</strong><br>
      You: มึงๆ backend เสร็จยังวะ?
    </div>
  </div>
</div>

<div class="chat-room-entry unread row">
  <div class="columns flex-container align-middle">
    <div class="profile-img">
      <img src="assets/images/profile-img/2.jpg" width="50" height="50">
    </div>
    <div class="latest-message">
      <strong>Kasidit Iamthong</strong><br>
      Kasidit: ขอนอนแปปปปป zZ
    </div>
  </div>
</div>

<div class="chat-room-entry row">
  <div class="columns flex-container align-middle">
    <div class="profile-img">
      <img src="assets/images/profile-img/3.jpg" width="50" height="50">
    </div>
    <div class="latest-message">
      <strong>Thanat Jatuphattharachat</strong><br>
      Thanat: หนาวจุงเบย ~
    </div>
  </div>
</div>
