<div class="row">
  <div class="sidebar-scroll-container">
    <div appShowScrollbar class="sidebar-scroll-area">
      <!-- [class.-unread]="!(room.latestMessage?.seen)" -->
      <div *ngFor="let room of (roomInfos$ | async)" class="chat-room-entry" routerLink="/" [queryParams]="{room: room.roomToken}">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="1" extension="jpg">
            </app-profile-img>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>{{room.roomName}}</strong>
                  </div>
                  <div class="timestamp" *ngIf="room.latestMessage as msg">
                    {{msg.time | moment: 'time'}}
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                    <span *ngIf="room.latestMessage">{{room.latestMessage.senderFirstName}}: {{room.latestMessage.content}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-room-entry" *ngIf="(roomInfos$ | async)?.length === 0" routerLink="/create-room">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="0" extension="jpg">
            </app-profile-img>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>สร้างแชทใหม่</strong>
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="chat-room-entry -unread">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="2" extension="jpg">
            </app-profile-img>
            <div class="unread-number">
              17
            </div>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>Parinthorn Saithong</strong>
                  </div>
                  <div class="timestamp">
                    16:36
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                    You: คุยกับตัวเองไปก่อน
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-room-entry -unread">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="2" extension="jpg">
            </app-profile-img>
            <div class="unread-number">
              17
            </div>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>Kasidit Iamthong</strong>
                  </div>
                  <div class="timestamp">
                    05:21
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                    Kasidit: อย่าดองแชทกุวววว
                  </div>
                  <div class="unread-number">
                    17
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-room-entry -unread">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="3" extension="jpg">
            </app-profile-img>
            <div class="unread-number">
              1
            </div>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>Thanat Jatuphattharachat</strong>
                  </div>
                  <div class="timestamp">
                    19:56
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                    You: Backend เสร็จยัง?
                  </div>
                  <div class="unread-number">
                    1
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-room-entry -unread">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="5" extension="jpg">
            </app-profile-img>
            <div class="unread-number">
              2
            </div>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>Kosate Limpongsa</strong>
                  </div>
                  <div class="timestamp">
                    22:47
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                    Kosate: ไม่อาว จะกลับหอ
                  </div>
                  <div class="unread-number">
                    2
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-room-entry">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="6" extension="jpg">
            </app-profile-img>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>Pakpoom Joe Thaweesitthichat</strong>
                  </div>
                  <div class="timestamp">
                    16:44
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                    Pakpoom: มึงทำ tech writ เสร็จยัง?
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-room-entry">
        <div class="chat-room-entry-flex">
          <div class="profile-img-wrapper">
            <app-profile-img width="45" userId="7" extension="jpg">
            </app-profile-img>
          </div>
          <div class="latest-message hide-for-small-only --ignore-content-width">
            <div class="latest-message-flex">
              <div class="">
                <div class="row-flex">
                  <div class="--text-crop">
                    <strong>Kawin Liaowongphuthorn</strong>
                  </div>
                  <div class="timestamp">
                    08:16
                  </div>
                </div>
              </div>
              <div class="message">
                <div class="row-flex">
                  <div class="--text-crop">
                    You: อย่าลืมเอาเทปพันสายไฟให้กุนะ
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
