<div class="chat-room-entry row">
  <div class="chat-room-entry-flex">
    <div class="profile-img-wrapper">
      <app-profile-img
        width="45"
        userId="1"
        extension="jpg">
      </app-profile-img>
    </div>
    <div class="latest-message --ignore-content-width">
      <div class="latest-message-flex">
        <div class="">
          <div class="row-flex">
            <div class="--text-crop">
              <strong>Parinthorn Saithong</strong>
            </div>
            <div class="timestamp">
              16:36
            </div>
          </div>
        </div>
        <div class="">
          <div class="row-flex">
            <div class="--text-crop">
              You: คุยกับตัวเองไปก่อน
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-room-entry -unread row">
  <div class="chat-room-entry-flex">
    <div class="profile-img-wrapper">
      <app-profile-img
        width="45"
        userId="2"
        extension="jpg">
      </app-profile-img>
    </div>
    <div class="latest-message --ignore-content-width">
      <div class="latest-message-flex">
        <div class="">
          <div class="row-flex">
            <div class="--text-crop">
              <strong>Kasidit Iamthong</strong>
            </div>
            <div class="timestamp">
              05:21
            </div>
          </div>
        </div>
        <div class="">
          <div class="row-flex">
            <div class="--text-crop">
              <strong>Kasidit: อย่าดองแชทกุวววว</strong>
            </div>
            <div class="unread-number">
              17
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-room-entry -unread row">
  <div class="chat-room-entry-flex">
    <div class="profile-img-wrapper">
      <app-profile-img
        width="45"
        userId="3"
        extension="jpg">
      </app-profile-img>
    </div>
    <div class="latest-message --ignore-content-width">
      <div class="latest-message-flex">
        <div class="">
          <div class="row-flex">
            <div class="--text-crop">
              <strong>Thanat Jatuphattharachat</strong>
            </div>
            <div class="timestamp">
              19:56
            </div>
          </div>
        </div>
        <div class="">
          <div class="row-flex">
            <div class="--text-crop">
              <strong>You: Backend เสร็จยัง?</strong>
            </div>
            <div class="unread-number">
              1
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
