@import 'color';
@import 'helper';

.container {
  padding: 30px 0;
}

button {
  @extend ._font-heading;
  // font-size: 18px;
  border-radius: 4px !important;
  transition: box-shadow 0.15s ease-out;
  background: $primary-color;
  // margin: 18px 0 10px;
  // padding: 0.7em 0.9em;

  &:focus {
    outline: 0;
  }

  &:focus,
  &:hover {
    background: darken($primary-color, 2%);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.14), 0 4px 15px 0 rgba(0,0,0,0.11);
  }
}
