@import 'color';

.app-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

$top-navigation-bar-height: 56;

.top-navigation-bar {
  height: $top-navigation-bar-height + px;
  position: absolute;
  left: 0;
  right: 0;
}

.content {
  position: absolute;
  top: $top-navigation-bar-height + px;
  left: 0;
  right: 0;
  bottom: 0;
}
