@import 'helper';
@import 'color';
@import 'variables';
@import 'mixin';

.row {
  height: 100%;
}

.scrollbar{
  position: absolute;
  width: 10px;
  height: 100%;
  right: 2px;
  top: 0px;
  background: rgba(1,1,1,0.4);
}

.chat-area-container {
  margin-top: $chat-title-bar-height-small + px;
  padding-bottom: $chat-title-bar-height-small + px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @include breakpoint(medium) {
    margin-top: $chat-title-bar-height + px;
    padding-bottom: $chat-title-bar-height + px;
  }

  .chat-title-bar {
    @extend ._font-bold;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: $chat-title-bar-height-small + px;
    top: -$chat-title-bar-height-small + px;
    padding: 0 15px;
    border-bottom: 1px solid $grey-2;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include breakpoint(medium) {
      height: $chat-title-bar-height + px;
      top: -$chat-title-bar-height + px;
    }
  }

  .chat-title-bar > .chat-title-name {
    margin-right: 10px;
  }

  .chat-title-bar > .group-member {
    // position: relative;
  }

  .chat-title-bar > .group-member > .member {
    position: relative;
    display: inline-block;
    height: 24px;
  }

  .send-message-container {}

  .conversation-container {
    padding: 15px;
    padding-top: 0;
    flex-grow: 1;
    overflow-y: scroll;
    margin-top: -1px;

    @extend ._hide-vertical-scrollbar;

    .header {
      position: absolute;
      width: 100%;
      top: 0;
      margin-top: 0px;
      z-index: -1;

      /deep/ .separator-container {
        border-top: none !important;
      }
    }

    .conversation {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: -2;
    }
  }
}

.send-message-form {
  position: relative;

  .message-input {
    width: 100%;
    min-height: 50px;
    color: black;
    padding: 15px 60px 15px 15px;
    margin: 0;
    @extend ._font-body;
    line-height: 21px;
    background: rgba(250, 250, 250, 1) !important;
    appearance: none !important;
    box-shadow: none !important;
    border: none;
    border-top: 1px solid rgb(223, 223, 223) !important;

    &:focus {
      background: rgba(255, 255, 255, 1) !important;
    }
  }
  // Input Placeholder
  .message-input::-webkit-input-placeholder {
    color: rgba(142, 142, 142, 1) !important;
  }

  .message-input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(142, 142, 142, 1) !important;
  }

  .message-input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(142, 142, 142, 1) !important;
  }

  .message-input:-ms-input-placeholder {
    color: rgba(142, 142, 142, 1) !important;
  }

  .send-icon {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 30px;
    height: 30px;

    > button {
      cursor: pointer;
    }

    .send-icon-svg /deep/ .primary-fill {
      fill: $primary-color !important;
    }

    .send-icon-svg:hover /deep/ .primary-fill {
      fill: darken($primary-color, 5%) !important;
    }
  }
}
