<div class="row">
  <div class="chat-area-container">
    <div class="chat-title-bar">
      <div>
        Thanat Jatuphattharachat
      </div>
    </div>
    <div #conversationContainer class="conversation-container">
      <div class="header" *ngIf="currentSeparatorTitle != null">
        <app-day-separator-static
          [title]="currentSeparatorTitle">
        </app-day-separator-static>
      </div>
      <div class="conversation">
        <app-day-separator
          title="Wednesday, 12 April"
          (notifyPosition)="updateSeparatorPosition($event)">
        </app-day-separator>

        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="12:56">
          <span message-body>ทำไรอยู่?</span>
        </app-message-bubble>
        <app-message-bubble
          [isOutgoing]="true"
          timestamp="12:58">
          <span message-body>แดกบะหมี่</span>
        </app-message-bubble>
        <app-message-bubble
          [isOutgoing]="true"
          timestamp="12:58">
          <span message-body>ฝากสั่งป่าว?</span>
        </app-message-bubble>
        <app-message-bubble
          name="Thanat"
          userId="3"
          [isBeforeSeparator]="true"
          timestamp="13:04">
          <span message-body>ไม่อะ แดกแล้ววววว</span>
        </app-message-bubble>

        <app-day-separator
          title="Yesterday"
          (notifyPosition)="updateSeparatorPosition($event)">
        </app-day-separator>

        <app-message-bubble
          [isOutgoing]="true"
          timestamp="09:12">
          <span message-body>ส่ง Stat ของ Flight Delay มาให้หน่อย<br>จะ export ส่งละ</span>
        </app-message-bubble>
        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="09:13">
          <span message-body>แปปป</span>
        </app-message-bubble>
        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="09:37">
          <span message-body>
            Accuracy:  0.693291260063<br>
            Precision:  0.272694058366<br>
            Recall:  0.188292303488<br>
            F1:  0.222766644075
          </span>
        </app-message-bubble>
        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="09:50">
          <span message-body>
            interface g0/0<br>
            description R2 G0/0<br>
            ip address 192.168.2.1 255.255.255.0<br>
            no shutdown<br>
            <br>
            interface s0/0/0<br>
            description R2 s0/0/0<br>
            ip address 192.168.12.2 255.255.255.252<br>
            no shutdown<br>
            <br>
            interface s0/0/1<br>
            description R2 S0/0/1<br>
            ip address 192.168.23.1 255.255.255.252<br>
            clock rate 128000<br>
            no shutdown
          </span>
        </app-message-bubble>
        <app-message-bubble
          [isOutgoing]="true"
          timestamp="18:23"
          [isBeforeSeparator]="true"
          [waitForServerResponse]="true">
          <span message-body>ข้อความนี้ยังไม่ถึง Server</span>
        </app-message-bubble>

        <app-day-separator
          title="Today"
          (notifyPosition)="updateSeparatorPosition($event)">
        </app-day-separator>

        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="09:37">
          <span message-body>
            Accuracy:  0.693291260063<br>
            Precision:  0.272694058366<br>
            Recall:  0.188292303488<br>
            F1:  0.222766644075
          </span>
        </app-message-bubble>
        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="09:50">
          <span message-body>
            interface g0/0<br>
            description R2 G0/0<br>
            ip address 192.168.2.1 255.255.255.0<br>
            no shutdown<br>
            <br>
            interface s0/0/0<br>
            description R2 s0/0/0<br>
            ip address 192.168.12.2 255.255.255.252<br>
            no shutdown<br>
            <br>
            interface s0/0/1<br>
            description R2 S0/0/1<br>
            ip address 192.168.23.1 255.255.255.252<br>
            clock rate 128000<br>
            no shutdown
          </span>
        </app-message-bubble>
        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="09:37">
          <span message-body>
            Accuracy:  0.693291260063<br>
            Precision:  0.272694058366<br>
            Recall:  0.188292303488<br>
            F1:  0.222766644075
          </span>
        </app-message-bubble>
        <app-message-bubble
          name="Thanat"
          userId="3"
          timestamp="09:50">
          <span message-body>
            interface g0/0<br>
            description R2 G0/0<br>
            ip address 192.168.2.1 255.255.255.0<br>
            no shutdown<br>
            <br>
            interface s0/0/0<br>
            description R2 s0/0/0<br>
            ip address 192.168.12.2 255.255.255.252<br>
            no shutdown<br>
            <br>
            interface s0/0/1<br>
            description R2 S0/0/1<br>
            ip address 192.168.23.1 255.255.255.252<br>
            clock rate 128000<br>
            no shutdown
          </span>
        </app-message-bubble>

        <app-message-bubble
          *ngFor="let message of (messagesList | async)"
          [isOutgoing]="true"
          timestamp="18:23">
          <span message-body>{{message.content}}</span>
        </app-message-bubble>

        <app-message-bubble
          *ngFor="let message of (optimisticMessagesList | async)"
          [isOutgoing]="true"
          waitForServerResponse="true"
          timestamp="18:23">
          <span message-body>{{message.content}}</span>
        </app-message-bubble>
      </div>
    </div>
    <div class="send-message-container">
      <form class="send-message-form" [formGroup]="sendMessageForm">
        <textarea appAutoHeight class="message-input" type="text" formControlName="message" placeholder="พิมพ์ข้อความ..." (keydown.enter)="sendMessage($event)"></textarea>
        <span class="send-icon">
          <button type="submit" class="" tabindex="-1">
            <app-svg-icon
              class="send-icon-svg"
              src="assets/icons/send.svg"
              style="width: 30px;">
            </app-svg-icon>
          </button>
        </span>
      </form>
    </div>
  </div>
</div>
