<div class="row">
  <div class="chat-area-container">
    <div class="conversation-container">
      <div class="conversation">
        <app-message-bubble class="conversation-message incoming"
          name="Thanat"
          type="iscomming"
          timestamp="12:56">
          <span message-body>ทำไรอยู่?</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message outgoing"
          type="outgoing"
          timestamp="12:58">
          <span message-body>แดกบะหมี่</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message outgoing"
          type="outgoing"
          timestamp="12:58">
          <span message-body>ฝากสั่งป่าว?</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message incoming"
          name="Thanat"
          type="iscomming"
          timestamp="13:04">
          <span message-body>ไม่อะ แดกแล้ววววว</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message outgoing"
          type="outgoing"
          timestamp="09:12">
          <span message-body>ส่ง Stat ของ Flight Delay มาให้หน่อย<br>จะ export ส่งละ</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message incoming"
          name="Thanat"
          type="iscomming"
          timestamp="09:13">
          <span message-body>แปปป</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message incoming"
          name="Thanat"
          type="iscomming"
          timestamp="09:37">
          <span message-body>
            Accuracy:  0.693291260063<br>
            Precision:  0.272694058366<br>
            Recall:  0.188292303488<br>
            F1:  0.222766644075
          </span>
        </app-message-bubble>
      </div>
    </div>
    <div class="send-message-container">
      <form class="send-message-form">
        <input class="message-input" type="text" id="message-input" placeholder="พิมพ์ข้อความ...">
      </form>
    </div>
  </div>
</div>
