<div class="row">
  <div class="chat-area-container">
    <div class="conversation-container">
      <div class="conversation">
        <app-message-bubble class="conversation-message incomming"
          name="Thanat"
          type="iscomming">
          <span message-body>ทำไรอยู่?</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message outgoing"
          type="outgoing">
          <span message-body>แดกบะหมี่</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message outgoing"
          type="outgoing">
          <span message-body>ฝากสั่งป่าว?</span>
        </app-message-bubble>
        <app-message-bubble class="conversation-message incomming"
          name="Thanat"
          type="iscomming">
          <span message-body>ไม่อะ แดกแล้ววววว</span>
        </app-message-bubble>
        <app-message-bubble
          *ngFor="let message of (chatMessages | async)"
          class="conversation-message incomming"
          [name]="message.username"
          type="iscomming">
          <span message-body>{{message.message}}</span>
        </app-message-bubble>
      </div>
    </div>
    <div class="send-message-container">
      <form class="send-message-form">
        <input class="message-input" name="messageInput" type="text" id="message-input" placeholder="พิมพ์ข้อความ..." (keyup.enter)="sendMessage()" [(ngModel)]="messageInput">
      </form>
    </div>
  </div>
</div>
