<div class="row">
  <div class="columns">
    <h1>Login</h1>
    <p>Hint: Correct on username equals to password, e.g. username is "abc", and password is "abc".</p>
    <div *ngIf="errorMessage" class="login-error-msg">{{errorMessage}}</div>
    <form [formGroup]="loginForm" (submit)="login()">
      <label>
        Username:
        <input type="text" formControlName="username" placeholder="Username" required>
      </label>
      <label>
        Password:
        <input type="password" formControlName="password" placeholder="Password" required>
      </label>
      <button class="button" [disabled]="loginForm.disabled">Login</button>
    </form>
    <a routerLink="/register">Register</a>
  </div>
</div>