<div class="row">
  <div class="columns">
    <h1>Login</h1>
    <div *ngIf="errorMessage" class="register-error-msg">{{errorMessage}}</div>
    <form [formGroup]="loginForm" (submit)="login()">
      <label>
        Username:
        <input type="text"
          formControlName="username"
          placeholder="Username"
          required>
      </label>
      <label>
        Password:
        <input type="password"
          formControlName="password"
          placeholder="Password"
          required>
      </label>
      <button class="button" [disabled]="loginForm.disabled">Login</button>
    </form>
  </div>
</div>