@import 'helper';
@import 'color';

.separator-container {
  @extend ._font-bold;
  margin: 0px -15px 25px -15px;
  padding: 7px 15px;
  border-top: 1px solid $grey-2;
  border-bottom: 1px solid $grey-2;
  background: rgba(246, 246, 246, 1);
}
