<div class="row">
  <div class="sidebar-container medium-3 small-12 columns">
    <app-sidebar></app-sidebar>
  </div>
  <div class="chat-area-container medium-9 small-12 columns">
    <div *ngIf="(chatRoomID$ | async) as chatRoomID; else noSelectedChatRoom" style="height:100%;">
      <app-chat-area [roomID]="chatRoomID"></app-chat-area>
    </div>
    <ng-template #noSelectedChatRoom>
      <div class="no-selected-chat-room-container">
        <div>
          <img class="img-responsive" src="assets/images/wongwan-bw.png" width="160" height="160">
        </div>
        <div>
          <span class="title">Let's chat on Wongwan!</span>
        </div>
        <div>
          <span class="desc">Make new friends and talk to them :D</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
