@import 'helper';
@import 'color';
@import 'mixin';

button {
  @extend ._font-heading;
  color: white;
}

.button-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 34px;
  border-radius: 7px;
  cursor: pointer;
}

.title {
  display: none;

  @include breakpoint(medium) {
    margin-left: 10px;
    display: initial;
  }
}

.icon {
}
