@import 'helper';
@import 'color';

.profile-img-wraper {
  display: inline-block;
}

:host {
  max-width: 75%;
  margin-bottom: 10px;
  &.-incoming {
    align-self: flex-start;
  }
  &.-outgoing {
    align-self: flex-end;
  }
  &.-before-separator {
    margin-bottom: 30px;
  }
}

.message-wrapper {
  margin-left: 10px;
  display: inline-block;

  &.-outgoing {
    text-align: right;
  }

  .sender {
    @extend ._font-bold;
    font-size: 13px;
    color: black;
  }

  .message-with-timestamp {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &.-inactive .timestamp {
      display: none;
    }

    &.-failed {
      opacity: 0.55;
    }
  }

  .message-bubble {
    padding: 7px 12px;
    background: $grey-1;
    border-radius: 15px;
    color: black;
    word-break: break-all;

    &.-outgoing {
      color: white;
      background: $primary-color;
      order: 10;
    }
  }

  .message-bubble-corner {
    position: absolute;
    top: -2px;

    &:not(.-outgoing) {
      left: -5px;
    }

    &.-outgoing {
      right: -5px;
    }

    /deep/ .primary-fill {
      fill: $grey-1;
    }

    &.-outgoing /deep/ svg {
      transform: scaleX(-1);
    }

    &.-outgoing /deep/ .primary-fill {
      fill: $primary-color;
    }
  }

  .timestamp {
    font-size: 12px;
    color: $grey-3;
    margin: 0 6px;
  }
}
