<div class="conversation-message" [class.-outgoing]="isOutgoing" [class.-incoming]="!isOutgoing">
  <div class="row">
    <div class="columns flex-container align-top">
      <div *ngIf="!isOutgoing" class="profile-img-wrapper">
        <app-profile-img
          width="35"
          [userId]="userId"
          extension="jpg">
        </app-profile-img>
      </div>
      <div class="message-wrapper" [class.-outgoing]="isOutgoing">
        <span *ngIf="!isOutgoing" class="sender">{{ name }}<br></span>
        <div class="message-with-timestamp" [class.-inactive]="waitForServerResponse">
          <div class="message-bubble" [class.-outgoing]="isOutgoing">
            <ng-content select="[message-body]"></ng-content>
          </div>
          <div class="message-bubble-corner" [class.-outgoing]="isOutgoing">
            <app-svg-icon
              src="assets/icons/message-bubble-corner.svg"
              style="width: 14px;">
            </app-svg-icon>
          </div>
          <div class="timestamp">{{ timestamp }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
