@import 'color';
@import 'helper';
@import 'mixin';
@import 'variables';

.top-navigation-bar {
  @extend ._font-heading;
  font-size: 15px;
  height: $top-navigation-bar-height + px;
  background: $primary-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.nav-button {
  display: inline-block;
  margin-right: 5px;

  /deep/ .primary-fill,
  /deep/ button {
    @extend ._transition-fast;
  }

  /deep/ button {
    color: white;
  }

  /deep/ .primary-fill {
    fill: white;
  }

  &:hover {
    /deep/ button {
      color: darken($primary-color , 27%);
    }

    /deep/ .primary-fill {
      fill: darken($primary-color , 27%);
    }
  }
}

.user-flex-control {
  padding: 5px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  @extend ._transition-fast;

  &:hover {
    background: darken($primary-color , 5%);
  }
}

.action-group {
  height: $top-navigation-bar-height;
  margin-right: 5px;
}

.separator {
  margin-right: 10px;

  .oval-separator {
    opacity: 0.4;
    display: inline-block;

    /deep/ .primary-fill {
      fill: white;
    }
  }
}

.user {
  height: $top-navigation-bar-height;
}

.name {
  margin-right: 10px;
  display: inline-block;
}

.profile-img-wrapper {
  display: inline-block;
}

.triangle-down {
  margin-left: 8px;

  /deep/ .primary-fill {
    fill: white;
  }
}

.logo {
  margin-right: auto;

  .logo-wrapper {
    display: flex;
    align-items: center;
  }
}

.logo-img {
  display: none;
  margin-right: 10px;
  @include breakpoint(medium) {
    display: inline-block;
  }
}

.brand-name {
  @extend ._font-bold;
  font-size: 22px;
  display: inline-block;
}
