<div class="top-navigation-bar">
  <div class="action-group">
    <app-top-navigation-button
      class="nav-button"
      title="สร้างแชทใหม่">
      <app-svg-icon
        src="assets/icons/new-chat.svg"
        style="width: 20px;"
        icon>
      </app-svg-icon>
    </app-top-navigation-button>
    <app-top-navigation-button
      class="nav-button"
      title="เข้าร่วมกลุ่ม">
      <app-svg-icon
        src="assets/icons/join-group.svg"
        style="width: 23px;"
        icon>
      </app-svg-icon>
    </app-top-navigation-button>
  </div>
  <div class="user">
    <div class="user-flex-control">
      <div class="name">
        <strong>Parinthorn</strong>
      </div>
      <div class="profile-img-wrapper">
        <app-profile-img
          width="30"
          userId="1"
          extension="jpg">
        </app-profile-img>
      </div>
    </div>
  </div>
</div>
