<div class="top-navigation-bar">
  <div routerLink="/" class="dropdown" [class.-show]="isDropdownVisible" (click)="logOut()">
    ออกจากระบบ
  </div>
  <div class="logo">
    <div routerLink="/" class="logo-wrapper">
      <div class="logo-img"><img src="assets/images/wongwan-logo.png" width="36" height="36"></div>
      <div class="brand-name">Wongwan</div>
    </div>
  </div>
  <div class="action-group" *ngIf="(isLoggedIn$ | async)">
    <app-top-navigation-button
      routerLink="/create-room"
      class="nav-button"
      title="สร้างแชทใหม่">
      <app-svg-icon
        src="assets/icons/new-chat.svg"
        style="width: 20px;"
        icon>
      </app-svg-icon>
    </app-top-navigation-button>
    <app-top-navigation-button
      routerLink="/join-room"
      class="nav-button"
      title="เข้าร่วมกลุ่ม">
      <app-svg-icon
        src="assets/icons/join-group.svg"
        style="width: 25px;"
        icon>
      </app-svg-icon>
    </app-top-navigation-button>
  </div>
  <div class="separator hide-for-small-only" *ngIf="(isLoggedIn$ | async)">
    <app-svg-icon
      class="oval-separator"
      src="assets/icons/oval-separator.svg"
      style="width: 8px;">
    </app-svg-icon>
  </div>
  <div class="user" *ngIf="(isLoggedIn$ | async)" (click)="toggleDropdown()">
    <div class="user-flex-control">
      <div class="name hide-for-small-only">
        {{username$ | async}}
      </div>
      <div class="profile-img-wrapper">
        <app-profile-img
          width="30"
          userId="1"
          extension="jpg">
        </app-profile-img>
      </div>
      <div class="triangle-down">
        <app-svg-icon
          src="assets/icons/triangle-down.svg"
          style="width: 11px;">
        </app-svg-icon>
      </div>
    </div>
  </div>
  <div class="action-group" *ngIf="!(isLoggedIn$ | async)">
    <app-top-navigation-button
      routerLink="/register"
      class="nav-button"
      title="ลงทะเบียน">
    </app-top-navigation-button>
    <app-top-navigation-button
      routerLink="/"
      class="nav-button"
      title="เข้าสู่ระบบ">
    </app-top-navigation-button>
  </div>
</div>
